numpy
opencv-python
matplotlib
scikit-image
scikit-learn
pandas
scipy
bidict
pillow
keras
cython
pycocotools
keras_retinanet
tensorflow-gpu<2.0.0
imgaug
Trains
sklearn
git+https://www.github.com/keras-team/keras-contrib.git
